/* mobile-style.css */

#mobile-ui {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 32px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    pointer-events: none;
}

.logo {
    font-size: 20px;
    padding: 0 20px;
}

.logo-mark {
    width: 24px;
    height: 24xpx;
    background-size: contain;
    background-repeat: no-repeat;
}

#buttom-container {
    height: 64px;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    pointer-events: none;
    z-index: 10;
}

.weekday-panel {
    flex-direction: column;
    align-items: stretch;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    overflow: hidden;
    width: fit-content;
    transform: translateY(10%);
    opacity: 0;
    pointer-events: auto;
    touch-action: none;
    transition: transform 0.3s ease-out, opacity 0.2s ease-out, max-height 0.3s ease-out; 
    max-height: 0;
}

#weekday-panel.open {
    transform: translateY(0%);
    opacity: 100%;
    pointer-events: all;
    max-height: 1000px;
    transition: transform 0.3s ease-out, opacity 0.2s ease-out, max-height 0.3s ease-out; 
}

.weekday-button,
.weekday-today {
    width: auto;       
}

.select-button {
    background: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 12px 12px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 400;
    color: #1A244D;
    pointer-events: auto;
    touch-action: none;
}

.select-button:active {
    background: #F2F2F3;
}

.icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

#current-day .icon {
    transition: transform 0.3s ease-out;
    transform: rotate(0deg);
}
  
#current-day.expanded .icon {
    transform: rotate(180deg);
}
  
.indicator {
    pointer-events: none;
}

/* Обгортка мобільного попапу */
.mobile-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  padding: 0 16px;
  bottom: 112px;
  z-index: 1000;
  pointer-events: none;
  transform: translateY(100%);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
  opacity: 0;
  box-sizing: border-box;  

}


/* Сам попап */
.mobile-popup-card {  
  width: 100%;  
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 2px #1A244D20, 0 4px 16px #1A244D15;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.mobile-popup.visible {
  transform: translateY(0);
  opacity: 1;
  max-height: 1000px;
  height: auto;
  pointer-events: auto;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;

}

/* Кнопка закриття */
.mobile-popup-close {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 20px;
  background: none;
  border: none;
  color: #1A244D70;
  cursor: pointer;
  font-weight: 300;
  display: none;
}

#feedback-toggle {
    position: fixed;
    bottom: 112px;
    margin-left: 16px;
    border-radius: 12px;
}

#feedback-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    padding: 20px;
    box-sizing: border-box;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

#feedback-container {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}
