/* mobile-style.css */

#mobile-ui {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: 16px;
    padding-bottom: 32px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    pointer-events: none;
}

.logo {
    font-size: 20px;
    padding: 0 20px;
}

.logo-mark {
    width: 24px;
    height: 24xpx;
    background-size: contain;
    background-repeat: no-repeat;
}

#buttom-container {
    height: 64px;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    pointer-events: auto;
    z-index: 10;
}

.weekday-panel {
    flex-direction: column;
    align-items: stretch;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    overflow: hidden;
    width: fit-content;
    transform: translateY(10%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.2s ease, max-height 0.3s ease; 
    max-height: 0;
}

#weekday-panel.open {
    transform: translateY(0%);
    opacity: 100%;
    pointer-events: all;
    max-height: 1000px;
}

.weekday-button,
.weekday-today {
    width: auto;       
}

.select-button {
    background: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 12px 12px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 400;
    color: #1A244D;
}

.select-button:active {
    background: #F2F2F3;
}

.icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

#current-day .icon {
    transition: transform 0.3s ease-out;
    transform: rotate(0deg);
}
  
#current-day.expanded .icon {
    transform: rotate(180deg);
}
  

